html
  head
    title Mittal Dance Academy
    block scripts
    block style  
  body
    nav#navbar
            ul
              div.logo
                   img(src="../static/style2.png", alt="" , height="50px")
              li #[a(href="/") Home]      
              li #[a(href="/") About us]      
              li #[a(href="/") Services]      
              li #[a(href="/contact") Contact us]  
    block content
